:root {
  /* Color variables */
  --white: rgb(255, 255, 255);
  --accent-orange: rgb(213, 150, 108);
  --accent-black: rgb(21, 21, 21);
  --grey: rgb(68, 68, 68);
  /* font variables */
  --main-font: "Big Shoulders Display", sans-serif;
  --secondary-font: "ourfit", sans-serif;
}

body {
  background-color: var(--white);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.welcome-section {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 90vh;
}

.welcome-left-half {
  position: relative;
  display: flex;
  width: 60%;
  background-color: var(--accent-black);
}

.main-title {
  font-family: var(--main-font);
  font-size: clamp(70px, 6.671vw, 129px);
  font-weight: 900;
  line-height: clamp(65px, 6.115vw, 118px);
  text-transform: uppercase;
  color: var(--accent-black);
  position: relative;
  margin: 18% 0 0 18.4%;
  z-index: 1;
}

.responsive-title {
  display: none;
}

.gradient-text {
  background-image: linear-gradient(
    to right,
    var(--white) 93.6%,
    var(--accent-black) 10%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  z-index: 1;
}

.white-text {
  color: var(--white);
}

.hero-image {
  position: absolute;
  top: 0;
  right: -13.27%;
  width: 62%;
  height: 100%;
}

.welcome-right-half {
  display: flex;
  flex-direction: column;
  padding-top: 11.5%;
  width: 40%;
  gap: 10%;
  z-index: 1;
}

.paragraph {
  font-family: var(--secondary-font);
  font-size: clamp(17px, 1.529vw, 25px);
  font-weight: 300;
  line-height: clamp(28px, 2.224vw, 35px);
  color: var(--grey);
  width: 52%;
}

.welcome-right-half .paragraph {
  margin-left: 9%;
}

.button {
  background-color: var(--accent-black);
  font-family: var(--main-font);
  font-size: clamp(20px, 1.39vw, 30px);
  font-weight: 800;
  letter-spacing: clamp(3.64px, 0.253vw, 4px);
  color: var(--white);
  text-transform: uppercase;
  width: 35%;
  padding: 3.6%;
  margin-left: 8.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.4s ease 0s;
}

.button-arrow {
  background-color: var(--accent-orange);
  width: 3%;
  height: 100%;
  margin: -10.1%;
  margin-right: -10.3%;
  padding: 10.1%;
  padding-bottom: 10.22%;
  transition: background-color 0.4s ease 0s;
}

.button:hover {
  background-color: var(--accent-orange);
}

.button:hover .button-arrow {
  background-color: var(--accent-black);
}

.grid-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 10%;
  gap: 2%;
}

.grid-block:nth-child(1) {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 8%;
}

.mobile-grid-block {
  display: none;
}

.grid-block:nth-child(1) .secondary-title {
  width: 70%;
}

.grid-block:nth-child(1) .paragraph {
  width: 60%;
}

.grid-block:nth-child(2) {
  grid-column: span 3;
}

.grid-block:nth-child(3) {
  grid-row: span 2;
  grid-column: span 3;
}

.grid-block:nth-child(3) img {
  height: 94.2%;
}

.grid-block:nth-child(4) {
  grid-column: span 2;
}

.grid-block:nth-child(5) {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: 8%;
  height: 100%;
  padding: 10%;
  margin-top: -30%;
  justify-content: space-evenly;
  background-color: var(--accent-black);
}

.grid-block:nth-child(5) > .secondary-title,
.grid-block:nth-child(5) > .paragraph {
  color: var(--white);
  width: 94%;
}

.grid-block img {
  width: 100%;
}

.desktop-image {
  display: block;
}

.tablet-image {
  display: none;
}

.mobile-image {
  display: none;
}

.secondary-title {
  font-family: var(--main-font);
  font-size: clamp(45px, 4.17vw, 75px);
  font-weight: 900;
  line-height: clamp(45px, 4.17vw, 75px);
  text-transform: uppercase;
  color: var(--accent-black);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: var(--accent-black);
  padding: 5% 0;
}

.main-logo {
  width: 12%;
  height: 10%;
}

.footer-paragraph {
  font-family: var(--secondary-font);
  font-size: clamp(15px, 1.251vw, 23px);
  font-weight: 300;
  line-height: clamp(26px, 1.946vw, 38px);
  color: var(--white);
}

.social-links {
  width: 5%;
}

.social-link svg path {
  transition: fill 0.4s ease 0s;
}

.social-link:hover svg path {
  fill: var(--accent-orange);
}

.margin-around {
  margin: 0 10%;
}
/* End of Main page styles*/

/* ######## Location page styles ######## */

.location-header {
  width: 100%;
  height: 75.1%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(./assets/desktop/image-map@2x.png);
}

.location-button {
  width: 17.7%;
  padding: 0;
  padding-right: 0.6%;
  margin-left: 10.8%;
  display: flex;
  gap: 10%;
  align-items: center;
  justify-content: unset;
}

.location-arrow {
  margin: 0;
}

.location-arrow img {
  transform: rotate(180deg);
}

.location-body {
  background-color: var(--accent-black);
  width: 100%;
  height: 65%;
  display: flex;
}

.location-body-left-half {
  width: 50%;
  height: 100%;
  padding: 6% 11%;
}

.location-body-title {
  font-family: var(--main-font);
  font-size: clamp(48px, 4.864vw, 70px);
  font-weight: 900;
  line-height: clamp(48px, 4.864vw, 70px);
  text-transform: uppercase;
  color: var(--white);
  width: 60%;
}

.location-body-right-half {
  min-width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 6.3%;
  gap: 8%;
}

.location-secondary-title {
  font-family: var(--main-font);
  font-size: clamp(32px, 2.502vw, 40px);
  font-weight: 900;
  line-height: clamp(32px, 2.502vw, 40px);
  text-transform: uppercase;
  color: var(--accent-orange);
}

.location-paragraph {
  font-family: var(--secondary-font);
  font-size: clamp(18px, 1.529vw, 24px);
  font-weight: 200;
  line-height: clamp(28px, 2.224vw, 35px);
  color: var(--white);
  width: 61%;
}

.orange-footer {
  background-color: var(--accent-orange);
}

.black-paragraph {
  color: var(--accent-black);
}

.location-links svg path {
  fill: var(--accent-black);
}

.location-links:hover svg path {
  fill: var(--white);
}

/* ######## End of Location page styles ######## */

/* ######## Responsive designs ######## */

/* Tablet design */
@media screen and (max-width: 768px) {
  .welcome-section {
    height: 70vh;
  }
  
  .hero-image {
    width: 100%;
    top: 0;
    right: 0;
  }

  .main-title {
    display: none;
  }

  .responsive-title {
    display: block;
    margin: 0;
  }

  .welcome-right-half {
    margin-left: -8%;
    width: 50%;
  }
  .paragraph {
    width: 94%;
  }

  .welcome-right-half .paragraph {
    margin-left: 0;
  }

  .button {
    margin-left: unset;
    width: 50%;
    padding: 5%;
  }

  .button-arrow {
    padding: 9.1%;
    padding-bottom: 10.3%;
  }

  .grid-section {
    row-gap: 1%;
    column-gap: 2%;
  }

  .grid-block:nth-child(1) {
    width: 100%;
    padding-top: 10%;
    gap: 20px;
  }

  .grid-block:nth-child(1) .paragraph {
    width: 94%;
  }

  .grid-block:nth-child(5) {
    margin-top: -55%;
    height: 118%;
    justify-content: center;
  }

  .grid-block:nth-child(5) .secondary-title {
    width: auto;
  }

  .grid-block:nth-child(5) .paragraph {
    width: 103%;
  }

  .desktop-image {
    display: none;
  }

  .tablet-image {
    display: block;
  }

  .mobile-image {
    display: none;
  }

  .footer {
    padding: 6% 0;
  }

  .main-logo {
    width: auto;
  }

  .footer-paragraph {
    width: 36%;
  }

  .footer-paragraph br {
    display: none;
  }

  .social-links {
    width: 12%;
  }

  /* #### location resposnive design #### */
  .location-header {
    height: 61.5%;
    background-image: url(./assets/tablet/image-map@2x.png);
  }

  
  .location-button {
    margin-left: 10.8%;
    width: 27.7%;
    padding: 0;
    padding-right: 0.6%;
  }
  
  .location-body {
    height: 45%;
    gap: 8%;
  }

  .location-body-left-half {
    padding: 6%;
  }
  .location-body-right-half .location-paragraph:last-child {
    width: 91%;
  }
  /* #### End of location responsive design #### */
}
/* End of tablet design */



/* ######## End of Responsice designs ######## */